

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	position: relative;
}



.icons ul{
	list-style: none;
	position: fixed;
	bottom: 40px;
	right: 20px;
	z-index: 5;

}
.icons ul li a{
	padding: 10px;
	font-size: 25px;
	display: block;

}
.back-top{
	display: none;
}
.icons ul li a img{
	/*width: 10px;*/
}
.w{
	margin-right: 10px;
}



.side-bar{
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	position: fixed!important;
	z-index: 99;
	top: 0px;
	right: -100%;	
	transition: 1s;
	overflow: scroll;
}

.slide01{
	/*top: -100px;*/
	right: 0;
	display: block;
	
}

.croseicon a{
	position: absolute;
	top: 50px;
	right: 50px;
	color: purple;
	font-size: 40px;

}
.side-bar-img{
	width: 100px;
	margin: 0 auto;
	padding-top: 100px;
	
}
.side-bar-img img{
	width: 100%;
}

.side-bar > ul{
	list-style: none;
	text-align: left;
	padding-left: 50px;
}
.side-bar > ul > li > a{
	color: purple;
	font-size: 30px;
}

.side-bar > ul > li > a:hover{
	color: pink;
	text-decoration: none;
}
.sidebar-about-submenu-01{
	display: none;
	transition: 2s;
	/*background-color: purple;*/
}
.sidebar-about-submenu-01 > ul{
	list-style: none;
	text-align: left;
	



}
.sidebar-about-submenu-01 ul li{
	/*display: block;*/
	padding-left: 20px;

}
.sidebar-about-submenu-01 ul li a{
	/*margin-left: 20px;*/
	color: purple;
	font-size: 30px;


}
.sidebar-about-submenu-01 ul li a:hover{
		color: pink;
		text-decoration: none;

}
.sidebar-third-a:hover .sidebar-about-submenu-01{
	display: block;
	transition: 2s;

}.sidebar-about-submenu-02{
	display: none;
	transition: 2s;
	/*background-color: purple;*/
}
.sidebar-about-submenu-02 > ul{
	list-style: none;
	text-align: left;
	



}
.sidebar-about-submenu-02 ul li{
	/*display: block;*/
	padding-left: 20px;

}
.sidebar-about-submenu-02 ul li a{
	/*margin-left: 20px;*/
	color: purple;
	font-size: 30px;


}
.sidebar-about-submenu-02 ul li a:hover{
		color: pink;
		text-decoration: none;

}
.sidebar-third-a:hover .sidebar-about-submenu-02{
	display: block;
	transition: 2s;

}


.search-box{
	width: 60%;
	margin: 0 auto;
	height: 50px;
	padding-top: 40px;
	position: relative;
}
.search-box01{
	width: 100%;
	border-radius: 50px;
	border: 2px solid purple;
	padding: 10px;


}

 ::placeholder{
 	 color: purple;	
 	 padding-left: 15px;
 }


.search-box a{
	color: purple;
	position: absolute;
	top: 50px;
	right: 30px;
}
.last-icon{
	width: 100%;
}
.last-icon ul{
	margin: 0 auto;
	width: 150px;
	display: flex;
	list-style: none;
	margin-top: 70px;
}
.last-icon ul li a{
	color: purple;
	padding-left: 20px;

}

.buttom-navbar{
	width: 100%;
	position: absolute;
	top:56px;
	left: 0px;
	z-index: 2;
	background-color: transparent;
}
.btn-left01{
	/*background:purple ;*/
}



.logo{
	/*background-color: purple;*/
}





.btn-right01{
	/*background-color:purple;*/
	padding-top: 3px;
	
	/*font-weight: bold;*/
}


.btn-left01 > ul{
		display: flex;
		justify-content: flex-end;	
		padding-right: 30px;
}

.lr01 > ul{
		list-style: none;
		/*text-align: right;*/
		padding-top: 26px;
		font-family: system-ui;
    	letter-spacing: 2px;

		
}


.lr01 > ul > li {
	position: relative;
}
.lr01 > ul > li > a{
	padding: 10px;
	/*text-align: right;*/
		color: pink;
}
.lr01 > ul > li > a:hover{
	color: white;
	text-decoration: none;
}

.third-a:hover .about-submenu{
	display: block;
}
.about-submenu01{
	margin-top: -2px;
}
.about-submenu{
	background-color: purple;
	position: absolute;
	top: 50px;
	left: -20px;
	display: none;

}
.about-submenu > ul{
	list-style: none;
	padding: 20px ;
	margin-top: -20px!important;


}
.about-submenu > ul > li{
	display: block;
}
.about-submenu > ul > li > a{
	display: block;
	padding: 10px;
	color: white;
}
.about-submenu > ul > li > a:hover{
		color: pink;
		text-decoration: none!important;
}
.bar{
 		display: none;
 		padding-left: 250px;
 		padding-top: 15px;
 		font-size: 30px;
 		color: pink;
 	}

.bar:hover{
	color: pink;

}




.top-header{
	background-color:#44233B;
}
.th-left01 ul{
	list-style: none;
	display: flex;



}

.th-left01 ul li a{
	font-size: 12px;
	padding-left: 25px;
	color: white;
	text-decoration: none;
	padding-top: 18px;
	display: block;

}
.th-left01 ul li a i{
	color: red;
}
.th-right01{
	text-align: center;
	padding: 0;
	
	
}

.th-right01 ul{
	display: flex;	
	list-style: none;
	text-align: center;
	margin: 0 auto;
}

.th-right01 a{
	padding: 10px;
	padding-top: 15px;
	display: block;
	color: white;
	transition: .5s;
}

.th-right01 a:hover{
	color: red;
}

.contectpage{
	width: 100%;
	/*height: 650px;*/
	/*background-image: url(../photo/contect.jpg);*/
	background-color: #ffefe2;
	background-size: cover;
	padding: 50px 0;

	
}
.contectpage-dr{
	width: 100%;
	/*height: 100%;*/
	/*background-color: rgba(0, 0, 0, 0.5);*/
	padding-bottom: 70px;
}
.contectpage-row{
	width: 1100px;
	/*height: 100%;*/
	margin: 0 auto;
	display: flex;


}
.contectpage-left01{
	width: 50%;
	/*height: 100%;*/
	/*background-color: red;*/
}
.contectpage-left01 h6{
	font-weight: bold;
    color: #fd8f8f;
    letter-spacing: 7px;
    font-family: inherit;
    font-size: 14px;
    margin-top: 50px;
    text-align:left;
    padding-left: 30px;

}


.contectpage-left01 h1{
	font-size: 50px;
    font-family: initial;
    /*margin-top: 100px;*/
    color: #44233B;
    padding-left: 25px;
    padding-right: 20px;
    font-weight: bold;
}
.contectpage-left01 p{
	color: #44233B;
    font-family: system-ui;
    padding: 20px 30px 0 30px;
    line-height: 1.7;
    font-size: 20px;
}
.contectpage-left01 a{
	color: #44233B;
    padding: 10px;
    display: block;
    width: 156px;
    border: 1px solid #44233B;
    margin-top: 45px;
    margin-left: 30px;
    text-align: center;
    text-decoration: none;
    font-family: system-ui;
    font-weight: 800;
}

.contectpage-left01 a:hover{
	background-color:#44233B ;
	color: white;
	/*box-shadow: 0px 0px 10px 10px white;*/
	padding: 10px;
	text-decoration: none;
}


/*contectpage right side*/

.contectpage-right01{
	width: 50%;
	height: 100%;
	padding-top: 80px;
	position: relative;

}

.cr-input{
	width: 100%;


}


.name-email{
	width: 48%;
	padding:15px;
	outline: none;
	font-size:16px;
	border-radius: 5px;
	border: 2px solid #f7bebe;
}

.address{
	width: 100%;
	padding:15px;
	outline: none;
	font-size:16px;
	border-radius: 5px;
	border: 2px solid #f7bebe;
	margin-top: 25px;
}
.message{
	width: 100%;
	/*height: 150px;*/
	padding: 15px;
	outline: none;
	font-size:19px;
	border-radius: 10px;
	border: 2px solid #f7bebe;
	margin-top: 25px;

}
.sand01{
	color: #44233B;
	text-transform: uppercase;
    padding: 10px;
    width: 100px;
    font-family: system-ui;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
  	margin-top: 25px;
    border: 2px solid #f7bebe;
    
    font-weight: bold;
}

.sand01:hover{
	background-color:#44233B ;
	color: white;
	font-weight: bold;
	border: 2px solid white;
}







.temple-footer{
	width: 100%;
	background-color: #44233B;
	padding: 50px 0;

}

.temple-footer-box01{
	text-align: right;

}

.temple-footer-box01 ul{
	margin: 0 auto;
	list-style: none;
	padding-top: 20px;
	flex-wrap: initial;

}

.temple-footer-box01 ul li{
	display: block;

}
.temple-footer-box01 ul li a{
	padding: 10px;
	color: pink;
	display: block;
}
.temple-footer-box01 ul li a:hover{
	color: red;
	text-decoration: none;
}
.temple-footer-box02{
	text-align: center;
}


.temple-footer-box03 ul{
	flex-wrap: initial;
	list-style: none;
	padding-top: 20px;
	/*margin: 0 auto;*/


}
.temple-footer-box03 ul li{
	display: block;

}
.temple-footer-box03 ul li a{
	padding: 10px;
	color: pink;
	display: block;
}
.temple-footer-box03 ul li a:hover{
	color: red;
	text-decoration: none;
}
.heart{
	/*margin-top: 500px;*/
	width: 100%;
	height: 100px;
	padding-top: 35px;
	background-color: #44233b;
	font-family: sans-serif;
}
.heart p{
	text-align: center;
	
	color: white;

}


.heart a{
	color:#ffc107;
	
}
.heart a:hover{
	color: pink;
	text-decoration: none;
}


.contant-a:hover{
	color: #d34946!important;


}


@media(max-width: 1200px) and (min-width: 991px){
	.bar{
		display: none;
	}	
	.lr01 ul{
		padding-top: 26px;
	}
	.lr01 > ul > li > a {
		font-size: 12px;
	}
	.btn-right01{
		padding-left: 40px!important;
	}
	.side-bar{
		display: none;
	}
	
	.contectpage{
		height: 600px;
	}

	.contectpage-row{
		width: 100%;
	}
	.name-email{
		width: 38%;
	}
	.address{
		/*margin-right: 30px;*/
		width: 80%;
	}
	.message{
		width: 80%;
	}
	.sand01{
		width: 120px;
	}
	.contectpage-left01 {
		padding-left: 20px;
		position: relative;
	}
	.contectpage-left01 a{
		position: absolute;
		bottom: 0px;
		left: 20px;}
	.temple-footer-box03 ul{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}
	.temple-footer-box01 ul{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		text-align: left;
	}
	.temple-footer-box02 img{
		padding-top: 80px;	
	}

}


@media(max-width: 991px) and (min-width: 768px){
	.logo img{
		width: 100%;
		padding-top: 14px;
		padding-right: 15px;
	}	
	.about-submenu{
		top: 40px;
	}
	.lr01 ul{
		padding-top: 19px;
	}
	.lr01 > ul > li > a{
		font-size: 9px;
	}
	.bar{
		display: none;
	}
	.side-bar{
		display: none;
	}
	.contectpage-row{
		width: 100%;
	}

	
	.address{
		width: 90%;
	}
	.message{
		width: 90%;
	}
	.name-email{
		width: 42%;
	}
	.contectpage-left01 p{
		font-size: 18px;

	}
	.contectpage-left01{
		position: relative;

	}
	.contectpage-left01 a{
		position: absolute;
		bottom: 0px;
		left: 5px;}
	.temple-footer-box03 ul{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}
	.temple-footer-box01 ul{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		text-align: left;
	}
	.temple-footer-box02 img{
		padding-top: 70px;
	}
}

@media(max-width: 768px) and (min-width: 480px){

	.btn-left01{
 		display: none;
 	}
 	.bar{
 		position: absolute;
 		top: 0;
 		right: 0;
 		display: block;
 		padding-right: 20px;
 		padding-top: 67px;
 		font-size: 17px;
 		color: pink;
 	}
 	

 	.btn-right01{
 		display:none ;

 	}
 	.logo{
 		padding-top: 50px;
 	}
 	.logo img{
 		/*padding-left: 50px;*/
 		width: 100px;
 		margin-left: 15px;
 	}

 	.th-right01 ul{
  		margin-top: -20px;
 	}
 	.vision-right01{
 		margin-top: 60px!important;
 	}
	.contectpage-row{

		display: flex;
		flex-direction: column;
		width: 100%;
	}


	.contectpage-dr{
		padding-bottom: 50px;		
	}

	.contectpage-left01{
		width: 100%;
	}

	.contectpage-right01{
		width: 100%;
		padding-left: 20px;
	}
	.name-email{
		width: 45%;
	}
	.address{
		width: 94%;
	}
	.message{
		width: 94%;
	}
	.temple-footer-box03 ul{
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
		padding-bottom: ;
	}
	.temple-footer-box03 ul li a{
		padding: 10px;
		display: block;
	}
	.temple-footer-box01 ul li a{
		padding: 10px;
		display: block;
	}
	.temple-footer-box01 ul{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		text-align: center;
	}

}

@media(max-width: 480px) and (min-width: 300px){
	.btn-left01{
 		display: none;
 	}
 	.btn-right01{
 		display:none ;

 	}
 	.logo{
 		padding-top: 55px;
 	}
 	.logo img{
 		/*padding-left: 20px;*/
 		width: 80px;
 		/*margin-left: 50px	;*/
 	}
 	.bar{
 		position: absolute;
 		top: 0;
 		right: 0;
 		display: block;
 		padding-right: 20px;
 		padding-top: 67px;
 		font-size: 16px;
 		color: pink;
 	}
 	


 	.search-box{
 		width: 95%;
 	}

	.th-left01 ul{
		list-style: none;
		text-align: center;
		padding: 0;
		display: flex;
		flex-direction: column;
  	}
    .th-left01 ul li a{
  		padding-top: 8px;
  	}
 	.th-right01 ul{
  		padding-left: 30px;
  		margin-top: -20px;
 	}

	.vision-right01{
 		margin-top: 60px!important;
 	}
	.contectpage{
		padding: 0;
	}
	.contectpage-row{
		display: flex;
		flex-direction: column;
		width: 100%;
	}


	.contectpage-dr{
		padding-bottom: 20px;		
	}

	.contectpage-left01{
		width: 100%;
	}

	.contectpage-left01 h1{
		font-size: 35px;
	}
	.contectpage-left01 h6{
		margin-top: 10;
	}
	.size{
		padding-bottom: 35px;
	}
	.contectpage-right01{
		width: 100%;
		padding-left: 20px;
	}
	.name-email{
		width: 45%;
	}
	.address{
		width: 96%;
	}
	.message{
		width: 96%;

	}
	.sand01{
		margin-bottom: 40px;
	}	

	.temple-footer{
		padding: 20px 0;
	}
	.temple-footer-box03 ul{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		text-align: center;
	}
	.temple-footer-box03 ul li a{
		padding: 10px;
		display: block;
	}
	.temple-footer-box01 ul li a{
		padding: 10px;
		display: block;
	}
	.temple-footer-box01 ul{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		text-align: center;
	}

}
