
  
.cards {
    display: flex;
    margin: 0.5rem 0.5rem 2.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 46px!important;
  }
  .card {
    align-items: center;
    background-color: #f5f7f9;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    /* flex: 0 0 13.5rem; */
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    position: relative;
    width: 30% !important;
    border: 2px solid #f7bebe!important;
    background-color: transparent!important;
  }
  h2.card__title {
    font-family: 'circular';
    font-size: 18px;
}
  .card__title {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 0 0.5rem;
    text-align: center;
  }
  
  .card__image {
    height: 200px;
    margin-bottom: 0.5rem;
    overflow: hidden;
    width: 100%;
  }
  
  .card__image img {
    object-fit: cover;
    overflow: hidden;
    /* transition duration is less than the one on hover */
    /* so img returns faster to its original position */
    transition: transform 1s ease-in-out;
    width: 100%;
  }
  
  .card__image:hover img {
    transform: translateY(calc(-100% + 200px));
    transition: transform 5s ease-in-out;
  }
  
  @media(max-width:768px){
    .card {
        align-items: center;
        background-color: #f5f7f9;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        display: flex;
        /* flex: 0 0 13.5rem; */
        flex-direction: column;
        margin: 0.5rem;
        padding: 0.5rem;
        position: relative;
        width: 100% !important;
      }
  }